.placeholder-color::placeholder {
    color: #8099AD;
    font-weight: bold;
  }
  
  .search-icon {
    color: #5A7189;
    stroke-width: 1px;
    transition: transform 0.3s;
  }
  
  .search-icon:hover {
    transform: scale(1.2);
  }
  
  .line {
    background-color: #8193A7;
    height: 1px;
  }
  
  