.placeholder-color::placeholder {
    color: #8099AD;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .search-icon {
    color: #5A7189;
    stroke-width: 1px;
  }
  
  .line {
    background-color: #8193A7;
    height: 2.2px;
   
  }
  